<div class="detail-card card">
  <div class="row mb-3">
    <div class="col-4">
      <img class="img-fluid" src="http://placekitten.com/300/300" alt="">
    </div>
    <div class="col-8">
      <h3>{{ serviceDetail.title }}</h3>
      <p>{{ serviceDetail.category }}</p>
      <p>{{ serviceDetail.time }}</p>
      <p>{{ serviceDetail.location }}</p>
    </div>
  </div>
</div>
<p>{{ serviceDetail.description }}</p>



<button class="btn btn-primary mb-3">Request</button>
